<!DOCTYPE>
<html  style="text-align:center">
    <form acrion="/result.html.erb">
    <h1>신이 나를 만들 때</h1>
    <%= image_tag("first.jpg") %><br><br>

    <input type="button" value="결과보기" onClick="location.href='/home/result'">
    </form>
</html>